# Reference : https://askubuntu.com/questions/1459175/how-to-run-a-docker-compose-as-a-systemd-service
# Note: if you change your systemd unit file, make sure to run 'systemctl daemon-reload' to reload the changes.
[Unit]
Description=Candlestick Analyser Service
After=docker.service
Requires=docker.service

[Service]
# Type=oneshot
# RemainAfterExit=yes
ExecStart=/bin/bash -c "source /home/vagrant/.bashrc; docker compose -f /home/vagrant/candlestick-analyser-service-compose.yml up"
ExecStop=/bin/bash -c "source /home/vagrant/.bashrc; docker compose -f /home/vagrant/candlestick-analyser-service-compose.yml stop"
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target