# Reference : https://askubuntu.com/questions/1459175/how-to-run-a-docker-compose-as-a-systemd-service
[Unit]
Description=Open Trades Monitor
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c "source /home/vagrant/.bashrc; docker compose -f /home/vagrant/open-trades-monitor-compose.yml up --detach"
ExecStop=/bin/bash  -c "source /home/vagrant/.bashrc; docker compose -f /home/vagrant/open-trades-monitor-compose.yml stop"
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
